<!DOCTYPE HTML>
<html>
<head>
    <title>글수정</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="is-preload">
<form method="post" action="{no}/edit">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <input type="text" name="demo-name" id="demo-name"/>db에 있는 제목 값
        </div>
        <div class="col-12">
            <select name="demo-category" id="demo-category">
                <option value="">- Category -</option>
                <option value="1">카테1</option>
                <option value="1">서브1</option>
                <option value="1">카테2</option>
            </select>
        </div>

        <div id="editor"></div>

        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="수정" class="primary" /></li>
                <li><input type="reset" value="되돌리기" /></li>
            </ul>
        </div>
    </div>
</form>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '500px',
        initialValue: 'db에 있는 내용 가져오기'
         });
</script>
</body>
</html>